{% macro Select(
  name='',
  id='',
  placeholder='Select an option',
  class_='',
  disabled=false,
  options=[]
) %}
  <select
    name="{{ name }}"
    id="{{ id }}"
    {% if disabled %}disabled{% endif %}
    class="flex h-10 w-full rounded-md border shadow-sm border-gray-300 border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 {{ class_ }}"
  >
    {% if placeholder %}
      <option value="" disabled selected hidden>{{ placeholder }}</option>
    {% endif %}
    {% for option in options %}
      <option value="{{ option.value }}">{{ option.label }}</option>
    {% endfor %}
  </select>
{% endmacro %}
